import optuna
from pathlib import Path


# default environment configs
class default:
    # tao run path
    run_dir = Path("{{ run_dir }}")
    log_dir = Path("{{ log_dir }}")

    # tune options
    study_storage = "sqlite:///{{ sqlite_storage_path }}"
    tune_direction = "minimize"
